// Variables
$primary-color: rgb(33, 5, 245); // Color principal
$secondary-color: rgb(5, 245, 21); // Color principal
$font-stack: 'Arial', sans-serif; // Fuente
$background-color: #fcfcfc; // Color de fondo

